.main {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(aqua),
    to(rgb(204, 133, 1))
  );
  background: -webkit-linear-gradient(bottom, aqua, rgb(204, 133, 1));
  background: -moz-linear-gradient(bottom, aqua, rgb(204, 133, 1));
  background: -o-linear-gradient(bottom, aqua, rgb(204, 133, 1));
  background: linear-gradient(to top, aqua, rgb(204, 133, 1));
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

html,
body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.tutorial,
.keyboardshortcuts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1;
}

.tutorial > button,
.keyboardshortcuts > button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: greenyellow;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.tutorial > button:hover,
.tutorial > button:active,
.tutorial > button:focus,
.keyboardshortcuts > button:hover,
.keyboardshortcuts > button:active,
.keyboardshortcuts > button:focus {
  font-family: "Roboto", sans-serif;
  background-color: green;
  color: white;
}

#game {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#maininfo > button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: yellowgreen;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

button:focus-visible {
  outline-color: rgb(204, 133, 1);
  outline-style: solid;
  outline-width: 5px;
}

#maininfo > button:hover,
#maininfo > button:active,
#maininfo > button:focus {
  background-color: green;
  color: white;
}

#maininfo {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  z-index: 0;
}

#game > p {
  display: none;
}

.scoreitem {
  margin: 10px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: yellowgreen;
  color: black;
  line-height: 47.5px;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  height: 46px;
}

button:disabled {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: not-allowed;
}

@media screen and (max-width: 600px) {
  #maininfo {
    padding-bottom: 90px !important;
  }

  button {
    padding: 5px 10px !important;
  }

  .scoreitem {
    line-height: 38px;
    padding-right: 5px;
    padding-left: 5px;
    height: 36px;
  }
}

body.dark {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgb(2, 94, 94)),
    to(rgb(204, 133, 1))
  ) !important;
  background: -webkit-linear-gradient(
    bottom,
    rgb(2, 94, 94),
    rgb(204, 133, 1)
  ) !important;
  background: -moz-linear-gradient(
    bottom,
    rgb(2, 94, 94),
    rgb(204, 133, 1)
  ) !important;
  background: -o-linear-gradient(
    bottom,
    rgb(2, 94, 94),
    rgb(204, 133, 1)
  ) !important;
  background: linear-gradient(
    to top,
    rgb(2, 94, 94),
    rgb(204, 133, 1)
  ) !important;
}
